<footer>
  <a id="validation-1" class="validation" target="blank" href="https://validator.w3.org/check?uri=referer"><img src="/images/button_validation_html5.png" alt=""></a>
  <nav>
    <a href="https://github.com/tvander5">Github</a>
    <a href="https://tvander5.github.io/">Github.io</a>
    <a href="https://gitlab.com/tvander5">Gitlab</a>
    <a href="#">Gitlab.io</a>
    <a href="https://www.freecodecamp.org/tvander5">freeCodeCamp</a>
    <a href="https://www.codecademy.com/profiles/tvander5">Codecademy</a>
    <a href="https://www.linkedin.com/in/tony-vanderhall">LinkedIn</a>
  </nav>
  <a id="validation-2" class="validation" target="blank" href="https://jigsaw.w3.org/css-validator/check/referer"><img src="/images/button_validation_css.png" alt=""></a>
  <p>Designed by <a href="#">vanderhallstech.com</a></p>
</footer>