
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(23, 21, 27);
    color: rgb(234, 234, 234)
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: darkred;
    text-decoration: underline;
}

img {
    width: 20%;
    margin: 20px 20%;
    border: solid 1px red;
}

figcaption {
    font-style: italic;
}