

body {
    background-color: rgb(27, 113, 174);
    z-index: 950;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(234, 234, 234);
    box-shadow: 0 0 5px 2px rgba(0,0,0,.4);
    text-shadow: 0 0 5px rgba(0,0,0,.7);
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

hr {
    border: dotted;
}

p {
    padding: 0px 15px;
}

h1 {
    padding: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgba(0,0,0,.7);
}

.me {
    width: 20%;
}

a:hover {
    color: rgb(0, 89, 255);
    text-shadow: 2px;
    text-decoration: underline;
}

h2, figure {
    text-align: center;
    margin: 20px auto;
}

figcaption {
    font-style: italic;
}