/* HEADER */

header {
  height: 60px;
  background-color: rgb(30, 28, 39);
  position:fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  z-index: 2;
}

.logo {
  background: rgb(255, 109, 109);
  background: linear-gradient(to right, rgb(255, 154, 87),rgb(255, 109, 109));
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 20px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  
  height: 100%;
  padding-right: 20px;
}

.navbar a {
  color: white;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  padding: 5px;
}

.navbar a:hover {
  background: rgb(255, 109, 109);
  background: linear-gradient(to right, rgb(255, 154, 87),rgb(255, 109, 109));
  color: black;
  border-radius: 5px;
}

/* FOOTER */
footer {
  height: 60px;
  background-color: rgb(30, 28, 39);
  position:fixed;
  bottom: 0;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;

  box-shadow: 0 -3px 10px rgba(0,0,0,0.2);
}

.validation img {
  min-width: 30px;
}

#validation-1 {
  position: absolute;
  top: 8px;
  left: 8px;
}
#validation-2 {
  position: absolute;
  right: 0;
  top: 8px;
}

footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  height: 100%;
}

footer nav a {
  color: white;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  padding: 0 10px;
  font-size: .8em;
}

footer p {
  color: lightgray;
  font-size: .6em;
  padding-bottom: 10px;
}

footer p a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(255, 109, 109);
}

/* For smaller screens */
@media (max-width:1000px) {
  header {
    flex-direction: column;
    justify-content: center;
    height: 80px;
  }
  .logo {
    padding-left: 0;
    font-size: 1em;
    padding: 10px 0;
  }
  .navbar {
    padding-right: 0;
  }

  footer {
    height: 60px;
  }

  footer nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    height: 100%;
  }

  footer nav a {
    font-size: .75em;
    padding: 0;
  }
  footer p {
    display: none;
  }
  .validation img {
    width: 60%;
  }
}

/* For smaller screens */
@media (max-width:800px) {
  .validation img {
    display:none;
  }
}