

.website-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  row-gap: 10px;

  width: 60%;
  margin: 0 auto;
}

.my-bio {
  width: 300px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.my-bio img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
  border: solid 3px rgb(255, 109, 109);

}

.my-bio figcaption {
  object-fit: cover;
  object-position: center;
  padding-top: 20px;
  font-style: italic;
  text-align: center;
  color:rgb(174, 174, 174);

  border-radius: 15px;
}

.website-info ul {
  width: 90vh;
}

.website-info ul li {
  line-height: 1.5em;
  padding-bottom: .5em;
  font-size: 1.25em;
}

.website-info ul li a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(255, 109, 109);
}

/* For smaller screens */
@media (max-width:1100px) {
  .website-info ul {
    width: 60vh;
  }
  
  .website-info ul li {
    line-height: 1.8em;
    padding-bottom: .5em;
    font-size: 1.1em;
  }

  .my-bio figcaption {
    font-size: 1.2em;
  }
}

/* For smaller screens */
@media (max-width:800px) {
  .website-info ul {
    width: 90vw;
  }
  .website-info ul li {
    line-height: 1.1em;
    padding-bottom: .5em;
    font-size: 1em;

  }

  .my-bio figcaption {
    font-size: 1.2em;
  }

  .my-bio img {
    width: 90vw;
    height: 90vw;
  }
}